.btn {
    font-size: rem(19px);
    font-weight: bold;
    padding: rem(18px) rem(35px);
    text-transform: uppercase;
    border-radius: rem(100px);
    line-height: 1;
    text-decoration: none;
    border: none;
        &-red {
            background-color: $red;
            color: azure;     
            &:hover {
                transition: 0.5s ease-in;
                background-color: $gray;
                color: $red;                
            }
        }

        &--transperent {
            background: transparent;
            &:hover {
                transition: 0.5s ease-in;
                background-color: $gray;
                color: $red;                
            }
        }
}