.order-section { 
    position: relative;   
background: url("../../img/background_orders.png") center no-repeat;
background-color: black;
background-size: cover;
width: rem(1165px);
    height: 100vh;
    min-height: rem(650px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.order--colors {
    color: #fff;

    .order-section {
        color: inherit;
        align-items: center;
    }
}

.form__title {
    color: #fff;
}

.radio__title{ 
    color: #fff;
    padding-left: rem(10px);
    margin-right: rem(10px);
}
.form {
    display: flex;
    max-width: 90%;
    @include tablets {
            flex-direction: column;
            max-width: 55%;
        }
                @include phones {
                    flex-direction: column;
                    max-width: 35%;
                }

}

.form__col {
    flex: 1;
    margin-right: rem(20px);
    @include tablets {
            margin-right: 0;
        }

    &:last-child {
        margin-right: 0;
    }
}

.form_row {
    display: flex;  
    margin-bottom: rem(18px);    
}

.form__block {
    flex: 1;
    margin-right: rem(20px);

    &:last-child {
        margin-right: 0;
    }
}

.form__input {
    width: 100%;
    border: 0;
    padding: rem(18px) rem(11px) ;
    border: solid rem(3px) transparent;
    border-radius: rem(5px);

    &--textarea {
        height: rem(180px);
        resize: none;
    }

    &:focus {
        border-color: $red;        
        outline: none;
    }
}

.form__controls {
    display: flex;
    flex-wrap: wrap;
    margin-top: rem(17px);
    @include tablets {
            justify-content: center
        }
}

.radio {
    display: flex;
    cursor: pointer;
    user-select: none;
    align-items: center;
    &--checkbox {
        .radio__visible {
            border-radius: 0;
            &::before {
                background: url(../../img/CHECK.png) center center no-repeat;
            }
        }
    }
}

.radio__elem {
    display: none;

    &:checked ~ .radio__visible {
        &::before {
            display: block;
        }
    }
}

.radio__visible {
    width: rem(26px);
    height: rem(26px);
    position: relative;
    border-radius: 50%;
    background: #fff;

    &::before {
        content: "";
        width: rem(14px);
        height: rem(14px);
        background: $red;
        border-radius: 50%;
        position: absolute;
        display: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.form__btns {
    margin-top: rem(17px);
    
    @include tablets {
            display: flex;
            justify-content: center;
        }
}