.slider-container {
    display: flex;
    margin: 0;
    width: 100%;
    .bx-wrapper {
        border: 0;
        background: transparent;
        box-shadow: none;
        max-width: max-content;
    }
}

.slider_information{
    margin-left: rem(59px);

    @include tablets {
        margin: 0;

    }
}

.arrow {
    display: flex;
    display: none;
    align-items: center;   
}

.arrow-left {
    margin-right: 10px;
}

.img_slider {
    max-width: rem(452px);
    max-height: rem(452px);
    @include tablets { 
    max-width: rem(200px);
    max-height: rem(300px);
    }
    @include phones {
        max-width: rem(50px); 
        max-height: rem(250px);
    }

}

.slider__content {
    display: flex;
    @include tablets {
        flex-direction: column;
        align-items: center;
    }
}

.slider_information-discription {
    @include tablets {
    display: flex;
    justify-content: center;
    }
    
}

.slider_information-discription--tablet {
    @include tablets {
    display: none;
    }
}

.slider_information-discription--column {
    @include tablets {
    display: flex;
        flex-direction: column;
        text-align: center;
    }
}

.slider_img {
   // min-width: rem(452px);
    @include phones {
        display: flex;
        justify-content: center
    }
}

.headline__title--slider {
    text-align: start;

    @include tablets {
            font-size: 30px;
            text-align: center;
        }
}

.discription {
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top: rem(15px);

    @include tablets {
        justify-content: space-evenly
    }
}

.price__product {
    display: flex;
    align-items: center;
}

.discription__bold {
    font-weight: bold;
    color: #000;
}

.summ_product {
    font-size: rem(36px);
    color: #151515;
    margin-right: rem(30px);
}

.arrow-left {
    width: 25px;
    height:40px;
}

.arrow-right {        
    width: 25px;
    height:40px;
}

